

.greeting {
    width: 100vw;
    height: 90vh;
    background: linear-gradient(107.56deg, rgba(66, 0, 255, 0.62) 0%, rgba(0, 209, 255, 0.6) 100%);
    display: grid;
    place-items: center;
}

.greeting h1 {
    font-size: 4vw;
    color: white;
}

.navbar {
    width: 100vw;
    height: 10vh;
    background-color: #1C1C1C;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: 'Caveat Brush', cursive;
    font-size: 3vw;
    color: white;
    align-self: flex-start;
    margin-left: 2vw;
    cursor: pointer;
}

.navLogo {
    font-size: 3vw;
    color: white;
    margin-right: 3vw;
}

.main-content {
    width: 100vw;
    height: 200vh;
    background: linear-gradient(179.86deg, rgba(1, 0, 7, 0.74) 10.01%, rgba(0, 48, 219, 0.84) 99.89%);
    display: flex;
    flex-direction: column;
    /* justify-content: center;, */
    align-items: center;
}

.content-box1 {
    margin-top: 10vh;
    height: 50vh;
    width: 50vw;
    display: grid;
    grid-template: 
        'photo text text' 100%
        'photo text text' 100%
        'photo text text' 100%;
}

.text-container {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#photo {
    grid-area: 'photo';
    max-width: 100%;
    max-height: 100%;
}

#about-title {
    font-size: 2vw;
    margin-right: 12vw;
    margin-bottom: 4vh;
    color: white;
}

.about-text {
    font-size: 1.5vw;
    margin-left: 2vw;
    color: white;
    margin-bottom: 10vh;
}

.content-box2 {
    margin-top: 10vh;
    height: 50vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-title {
    font-size: 2vw;
    margin-top: 5vh;
    color: white;
}
.skills-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    place-items: center;
    height: 60%;
    width: 80%;
    margin-top: 2vh;
}

.skill-icon {
    font-size: 5vw;
    color: white;
}

.content-box3 {
    margin-top: 10vh;
    height: 50vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-container {
    height: 40vh;
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.projects-title {
    font-size: 2vw;
    color: white;
}

.project-link {
    margin-top: 10vh;
    width: 40%;
    height: 80%;
    text-decoration: none;
    color: white;
    text-align: center;
    transition: all .2s ease-in-out;
}

.project-link:hover {
    transform: scale(1.05);
}

.project-image {
    max-width: 100%;
    max-height: 80%;
    border-radius: 10px;
}

.project-title {
    margin-top: 2vh;
    font-size: 1.2vw;
}






@media (max-width: 767px) {
    .greeting h1 {
        font-size: 8vw;
    }

    .logo {
        font-size: 8vw;
    }

    .navLogo {
        font-size: 8vw;
    }

    .main-content {
        height: 190vh;
    }

    .content-box1 {
        width: 80vw;
        height: auto;
    }

    #about-title {
        font-size: 6vw;
    }
    
    .about-text {
        font-size: 3vw;
    }




    .content-box2 {
        height: auto;
        width: 80vw;
    }
    
    .skills-title {
        font-size: 6vw;
        margin-top: 0vh;
    }

    .skills-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        place-items: center;
        height: 50vh;
        margin-top: 2vh;
    }
    
    .skill-icon {
        font-size: 12vw;
    }




    .content-box3 {
        height: 40vh;
        width: 80vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .projects-container {
        height: auto;
        width: 80vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    
    .projects-title {
        font-size: 6vw;
        color: white;
        margin-bottom: 6vh;
    }
    
    .project-link {
        margin-top: 2vh;
        width: 80%;
        height: auto;
    }
    
    .project-link:hover {
        transform: scale(1.05);
    }
    
    .project-image {
        max-width: 100%;
        max-height: 80%;
        border-radius: 10px;
    }
    
    .project-title {
        margin-top: 2vh;
        font-size: 5vw;
        margin-bottom: 5vh;
    }
}