
<content>
  <div class="greeting">
    <h1>Hello, I'm Zach</h1>
  </div>

  <nav class="navbar">
    <div>
      <h2 class="logo" (click)='scrollToTop()'>ZK</h2>
    </div>
    <div>
      <a href="https://www.linkedin.com/in/zacheking/" target="_blank">
        <span class="iconify navLogo" data-icon="akar-icons:linkedin-fill"></span>
      </a>
      <a href="https://github.com/Chwunny" target="_blank">
        <span class="iconify navLogo" data-icon="akar-icons:github-fill" ></span>
      </a>
    </div>
  </nav>

  <div class="main-content">
    <div class="content-box1">
      <img id="photo" src="../assets/1D259395-AA85-4D93-AC43-D423BBAA528E.png" alt="Zach King">

      <div class="text-container">
        <h2 id="about-title">About</h2>
        <p class="about-text">
          I attended Devmountain’s web-development program where I learned to utilize many different technolgies to create full stack applications. Some of my favorites are React, Angular, Node, Typescript, and PostgreSQL.<br>
          <br>
          I love gaming, coding, playing basketball, travelling, and listening to music.
        </p>
      </div>

    </div>

    <div class="content-box2">
      <h2 class="skills-title">Skills</h2>
      <div class="skills-container">
        <span class="iconify skill-icon" data-icon="vscode-icons:file-type-html"></span>
        <span class="iconify skill-icon" data-icon="logos:javascript"></span>
        <span class="iconify skill-icon" data-icon="vscode-icons:file-type-node"></span>
        <span class="iconify skill-icon" data-icon="logos:react"></span>
        <span class="iconify skill-icon" data-icon="logos:redux"></span>
        
        <span class="iconify skill-icon" data-icon="vscode-icons:file-type-css"></span>
        <span class="iconify skill-icon" data-icon="vscode-icons:file-type-angular"></span>
        <span class="iconify skill-icon" data-icon="logos:typescript-icon"></span>
        <span class="iconify skill-icon" data-icon="logos:git-icon"></span>
        <span class="iconify skill-icon" data-icon="logos:postgresql"></span>
      </div>
    </div>
    <div class="content-box3">
      <h2 class="projects-title">Projects</h2>
      <div>
        <div class="projects-container">
          <a href="https://www.youtube.com/watch?v=_xIDQwTk8yU" target="_blank" class="project-link">
            <img src="../assets//Screen Shot 2021-11-04 at 11.58.27 AM.png" alt="Pokéfy project presentation" class="project-image">
            <h2 class="project-title">Pokéfy</h2>
          </a>
          <a href="https://drive.google.com/file/d/1iG36khlsQ7bnjn2XMU-u43bdiVGyiKgM/view?usp=sharing" target="_blank" class="project-link">
            <img src="../assets/Screen Shot 2021-09-07 at 4.36.59 PM.png" alt="Pokémon app presentation" class="project-image">
            <h2 class="project-title">Pokémon App</h2>
          </a>
        </div>
      </div>
    </div>
  </div>
</content>