
<content>
  <div class="greeting">
    <h1>Hello, I'm Zach</h1>
  </div>

  <nav class="navbar">
    <div>
      <h1 class="logo">ZK</h1>
    </div>
    <div>
      <a href="https://www.linkedin.com/in/zacheking/" target="_blank">
        <span class="iconify navLogo" data-icon="akar-icons:linkedin-fill"></span>
      </a>
      <a href="https://github.com/Chwunny" target="_blank">
        <span class="iconify navLogo" data-icon="akar-icons:github-fill" ></span>
      </a>
    </div>
  </nav>
</content>